@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
  background-color: aquamarine;
}
.cuadroExcusa {
  width: 50%;
  height: 200%;
  margin: 2%;
  padding: 2%;
  box-shadow: 17px 17px 60px rgba(0, 0, 0, 15);
  text-align: center;
  background-color: azure;
}
